{% extends 'base.html' %}
{%load static%}

{% block title %}Home{% endblock %}

{% block content %}
    <!-- Masthead-->
    <header class="masthead bg-primary text-white text-center">
        <div class="container d-flex align-items-center flex-column">
            <!-- Masthead Avatar Image-->
            <img class="masthead-avatar mb-5" src="{%static 'img/logo.png'%}" alt="" />
            <!-- Masthead Heading-->
            <h1 class="masthead-heading text-uppercase mb-0">We build synthetic chromosomes</h1>
            <!-- Icon Divider-->
            <div class="divider-custom divider-light">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>
            <!-- Masthead Subheading-->
            <p class="masthead-subheading font-weight-light mb-0">Chromosome map generator - Primer design tool</p>
            <p class="masthead-subheading font-weight-light mb-0">for <i>in vivo</i> assembly</p>

        </div>
    </header>
    <body>
    </br>
    <!-- Contact Fragment Form-->
    <div class="row justify-content-center">
        <div class="col-lg-5 col-xl-4">
            {% if success%}
            <div class="alert alert-success" role="alert">
                Chromosome map and primers generated correctly!
            </div>
            {% endif %}

            <!-- Iterate formset-->
                <!-- <h2>Fragment #{{ forloop.counter }}</h2> -->

            <form enctype="multipart/form-data" id="Form-container" novalidate="novalidate", method="post">
                {% csrf_token %} 
                {{ formset.management_form }}
NOANADIDO         <div style="display: none;" id="num">{{ formset|length }}</div>
                {% for form in formset %}
                <div class="fragment-form">
                    <div id="frag_num">
                        <h2>Fragment #{{ forloop.counter }}</h2>
                    </div>
                    <!-- Non form errors -->
                    {% if form.non_field_errors %}
                        <div class="alert alert-danger" role="alert">
                            {{form.non_field_errors}}
                        </div>
                    {% endif %}
                        <!-- Iterate through form -->
                    {%for field in form%}
                        <div class="form-group floating-label-form-group controls mb-0 pb-2">
                            {{field.label_tag}}
                            {{field}}
                            {% for error in field.errors %}
                                <p class="help-block text-danger">{{error}}</p>
                            {% endfor %}
                        </div>
                    {% endfor %}
                    <button style="background-color: #cb8bab ; border-color:  #cb8bab ;" class="align-self-center btn btn-danger delete-fragment-form">Delete</button>
                    </br></br>
                </div> 
                {%endfor%}

                    <!-- AddFrag and Submit Button-->
                        <button style="background-color: #2c3e50; border-color: #2c3e50;" id="add-fragment-form" class="btn btn-primary btn-xl text-white">Add Fragment</button>
                        <button class="btn btn-primary btn-xl text-white" id="submittButton" type="submit">Submit</button>
                    <!-- </br></br> -->
            </form>
        </div>
    </div>
</body>
{% endblock %}


